\#*.*\#
\#*.*
.\#*
*~
*.*~
node_modules/
managers/*.png
lib/*.png
rest/*.png
managers/*.svg
lib/*.svg
rest/*.svg
.idea/
docs/pubsub-person.svg
docs/pubsub-place.svg
docs/pubsub-topic.svg
_scratch.js
dump/*